<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeLooks - Your Beauty Destination</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="importmap">
    {
      "imports": {}
    }
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="logo.jpg" alt="LuxeLooks Logo">
            </div>
            <ul>
                <li><a href="../home/index.html">inicio</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        
        <section id="products" class="categories">
            <h2>Compra por categoría</h2>
            <div class="category-grid">
                <div class="category-card">
                    <img src="Lip gloss.jpeg" alt="Lipsticks">
                    <h3>Lip Gloss</h3>
                    <p>Encuentra el tono perfecto para tus labios con nuestra exclusiva colección de brillos.</p>
                    <a href="../carrito/index.html" class="btn-category">agregarAlCarrito</a>
                </div>
                <div class="category-card">
                    <img src="sombras.jpeg" alt="Eyeshadows">
                    <h3>paletas de sombras</h3>
                    <p>Resalta tu mirada con nuestras paletas de sombras llenas de color y creatividad.</p>
                  <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
                <div class="category-card">
                    <img src="bases.jpeg" alt="Face Makeup">
                    <h3>Bases profecionales</h3>
                    <p>ALogra una piel suave y uniforme con nuestras bases y polvos profesionales.</p>
                <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
                 <div class="category-card">
                    <img src="brochas.jpeg" alt="Face Makeup">
                    <h3>Brochas</h3>
                    <p>Aplica tu base como una profesional con nuestras suaves y elegantes brochas.</p>
                   <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
                 <div class="category-card">
                    <img src="pestañinas.jpeg" alt="Face Makeup">
                    <h3>Mascara de pestañas</h3>
                    <p>Define tu mirada y consigue pestañas de impacto con nuestras máscaras favoritas.</p>
                   <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
                 <div class="category-card">
                    <img src="polvo.jpeg" alt="Face Makeup">
                    <h3>polvo sellador</h3>
                    <p>Fija tu maquillaje y consigue un acabado radiante con nuestros polvos selladores.</p>
                   <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>


                 <div class="category-grid">
                <div class="category-card">
                    <img src="corrector.jpeg" alt="Lipsticks">
                    <h3>Corrector</h3>
                    <p>Cubre ojeras, manchas y rojeces al instante.</p>
                  <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
             <div class="category-grid">
                <div class="category-card">
                    <img src="contorno.jpeg" alt="Lipsticks">
                    <h3>Contorno</h3>
                    <p>Esculpe y da calidez al rostro.</p>
                    <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
              <div class="category-grid">
                <div class="category-card">
                    <img src="iluminador.jpeg" alt="Lipsticks">
                    <h3>iluminador</h3>
                    <p> Aporta brillo en zonas clave del rostro.</p>
                   <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
              <div class="category-grid">
                <div class="category-card">
                    <img src="fijadores (2).jpeg" alt="Lipsticks">
                    <h3> Sprays fijador</h3>
                    <p>Sella tu maquillaje por más tiempo.</p>
                    <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
              <div class="category-grid">
                <div class="category-card">
                    <img src="rubor.jpeg" alt="Lipsticks">
                    <h3>Rubor</h3>
                    <p>Da un toque de color natural a tus mejillas.</p>
                   <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
              <div class="category-grid">
                <div class="category-card">
                    <img src="Hidratante.jpeg" alt="Lipsticks">
                    <h3>Cremas hitratantes</h3>
                    <p>Hidrata y suaviza la piel a diario.</p>
                 <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
             <div class="category-grid">
                <div class="category-card">
                    <img src="mascarillas.jpeg" alt="Lipsticks">
                    <h3>Mascarillas</h3>
                    <p>Limpia, nutre o repara según tu tipo de piel.</p>
                    <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
             <div class="category-grid">
                <div class="category-card">
                    <img src="serums.jpeg" alt="Lipsticks">
                    <h3>Serums</h3>
                    <p> Tratamientos intensivos para una piel más sana.</p>
                   <a href="#" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
             <div class="category-grid">
                <div class="category-card">
                    <img src="limpiadores.jpeg" alt="Lipsticks">
                    <h3>Limpiador facial</h3>
                    <p>Elimina impurezas y restos de maquillaje.</p>
                   <a href="../carrito/index.html" class="btn-category">agregarAlCarrito</a>
                </div>
             </div>
        </section>
                       

        
    </main>

    <footer>
        <p>&copy; proyectyo ADSO 2931558 -pagina web DivineGloud.
</p>
    </footer>

    <script src="script.js" type="module"></script>
</body>
</html>