<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuxeLooks - Your Beauty Destination</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="importmap">
    {
      "imports": {}
    }
    </script>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="logo.jpg" alt="LuxeLooks Logo">
            </div>
            <ul>
                <li><a href="../home/index.html">inicio</a></li>
                  <li><a href="../productos/index.html">productos</a></li>
                
            </ul>
        </nav>
    </header>
    <main>
      


       
                       


    <footer>
        <p>&copy; 2025 Divine Glow. Belleza con estilo. Todos los derechos reservados.
</p>
    </footer>

    <script src="script.js" type="module"></script>
</body>
</html>